@tailwind base;
@tailwind components;
@tailwind utilities;

body {
overflow: hidden; 

}
.slick-slide > div {
  margin: 0 10px;
}

.slick-dots li.slick-active button:before {
  color:white !important;
}